<div>
    <h1>Dashboard</h1>
    <div *ngIf="data[0]">
        <h2>Data 0</h2>
        {{data[0] | json}}
    </div>
    <div *ngIf="data[1]">
        <h2>Data 1</h2>
        {{data[1] | json}}
    </div>
    <div *ngIf="data[2]">
        <h2>Data 2</h2>
        {{data[2] | json}}
    </div>
    <div *ngIf="data[3]">
        <h2>Data 3</h2>
        {{data[3] | json}}
    </div>
    <div *ngIf="data[4]">
        <h2>Data 4</h2>
        {{data[4] | json}}
    </div>
    <div *ngIf="data[5]">
        <h2>Data 5</h2>
        {{data[5] | json}}
    </div>
    <div *ngIf="data[6]">
        <h2>Data 6</h2>
        {{data[6] | json}}
    </div>
    <div *ngIf="data[7]">
        <h2>Data 7</h2>
        {{data[7] | json}}
    </div>
</div>